/* Estilo.css */
/*Programação da tela, deixando sem borda*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total dos elementos */
}
/*Programação da tela*/

/*Declaração de fontes externas*/
@font-face {
    font-family: 'AlbertSans';
    src: url('/fontes/Albert_Sans/static/AlbertSans-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'AlbertSansLight';
    src: url('/fontes/Albert_Sans/static/AlbertSans-ExtraLight.ttf')format('truetype');
}

@font-face {
    font-family: 'AlbertSansBold';
    src: url('/fontes/Albert_Sans/static/AlbertSans-Bold.ttf')format('truetype');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('/fontes/Raleway/static/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('/fontes/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}
/*Fim da declaração de fontes*/

/*Programação do body*/
body {
    background-color: #F8F8FF; 
    font-family: 'AlbertSans';
    margin: 0; 
    overflow-x: hidden;
}
/*Fim da programação do body*/


/*INICIO DA PROGRAMAÇÃO DA NAV*/
#nav {
    font-size: 18px; 
    font-family: 'RalewayBold'; 
    font-weight: 300; 
    z-index: 1;
}

/* Imagem do logo principal */
#logo {
    width: 140px; /* Define a largura do logo */
    height: auto; /* Define a altura do logo */
    margin-top: 7px; 
    margin-bottom: 6px; 
}

/* Oculta o ícone secundário em telas menores (para o ícone não aparecer no mobile) */
#iconeS {
    visibility: hidden;
}

/* Cada item de navegação (ajustes específicos para alinhamento) */
.navbar-nav .nav-item {
    margin-right: 20px; /* Espaçamento entre*/
}


.navbar-nav .nav-link {
    color: #000000;
}

/* Ajustes no ícone de idioma */
#icone {
    width: 47px; 
    height: 35px; 
    margin-top: 13px; 
    margin-bottom: 12px; 
}

#language-switcher {
    display: flex; /* Exibe o ícone de troca de idioma em linha */
    justify-content: center; /* Centraliza o ícone de troca de idioma */
    margin-top: 0.5rem; /* Margem superior para espaçamento */
}

.navbar-brand, #navbarNav, #language-switcher {
    text-align: center; /* Centraliza o conteúdo de cada seção na navbar */
}

/* Estilo para o dropdown de idiomas */
#dropdown-content {
    display: none; /* Oculto por padrão */
}

#dropdown-content.show {
    display: block; /* Exibe o dropdown ao adicionar a classe 'show' */
    position: absolute;
    top: 100%; /* Posiciona logo abaixo do botão */
    right: 0;
    min-width: 150px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/*INICIO DA PROGRAMAÇÃO DA TELA HOME*/

/* Estilo geral da seção Home */
.home {
    font-family: 'RalewayBold', sans-serif; /* Fonte personalizada */

    
}
.FraseDeEfeito{
  margin-top: 150px;
}

/* Estilo dos títulos */
#home h1[data-key="home_title"] {
    font-size: 40px; 
    color: #000000; /* Cor preta */
    margin-bottom: 0;
}


/* Estilo da palavra "Nossa" */
#titulo1 h1 {
    font-size: 40px; /* Tamanho da fonte */
    color: #000000; /* Cor preta */
    font-weight: bold; /* Negrito */
    margin: 0; /* Remove margem */
}



/* Estilo da palavra "Solução" com o degradê */
#solucao {
    background: linear-gradient(to left, #6200EA, #A452FF); /* Degradê roxo */
    -webkit-background-clip: text; /* Efeito de clip no texto */
    -webkit-text-fill-color: transparent; 
    font-weight: bold; 
    margin-left: 5px; /* Pequeno espaçamento entre "Nossa" e "Solução" */
}


.btn1{
    border-radius: 60px;
    width: 230px;
    height: 50px;
    margin-right: 26px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'RalewayBold';
    background-color: #000000;
    border: solid 2px;
    text-decoration: none;
}



.btn2{
    border-radius: 60px;
    width: 172px;
    height: 50px;
    font-size: 18px;
    font-family: 'RalewayBold';
    color: #000;
    border: 2px solid #000;
    background-color: transparent;
    text-decoration: none;
}

#imgHome {
    max-width: 100%; 
    height: 520px; 
    width: auto;
    margin-top: 10px;
}

/*FIM DA PROGRAMAÇÃO DA TELA HOME*/


/*INICIO DA PROGRAMAÇÃO DA TELA QMSOMOS*/

/*Programação da imagem da qmsomos nomeada como "img2"*/
#imgQmSomos{
    width: auto;
    height: auto;
}

/*Programação do h1 qmsomos*/
#tituloQuemSomos{
    margin-top: 0px;
    font-size: 40px;
    font-family: 'RalewayBold';
}

/*Programação dos paragrafos nomeados como class titulo2*/
.textoQuemSomos{
    font-size: 18px;
}

.texto2_2{
    font-size: 18px;
    text-align: justify;
    margin-top: 28px;
}

.caixa1{
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.caixa2{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
}

/*programação dos icones*/
.icon1{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

/*Programação da linha entre os icones*/
.linha1{
    height:90px;
    opacity: 1;
    border: 1px solid #1D40D6;
}

/*FIM DA PROGRAMAÇÃO DA TELA DE QMSOMOS*/

/*INICIO DA PROGRAMAÇÃO DA TELA DE CLIENTES*/
/*Programação do titulo*/

#tituloClientes{
    text-align: center;
    margin-bottom: 90px;
    font-family: 'RalewayBold';
}


/* Programação da div que contem o carrossel de clientes */
.clientes-carrossel-container {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    overflow-x: hidden; 
    height: 370px;
    margin-bottom: 100px;
    padding: 0 40px;
}


/*Programação da div que contem os cards do carrossel*/
.clientes-carrossel {
    flex-wrap: nowrap; 
    white-space: nowrap; 
    transition: transform 0.5s ease-in-out;
}


/*Programação dos cards dos clientes*/
.cliente-card {
    width: 530px;
    height: 350px;
    margin-right: 40px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 10px 20px    rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-shrink: 0;
    border-radius: 30px;
}


/*Programção do h3 dos cards*/
.cliente-card h3{
    font-family: 'RalewayBold';
}


/*Programação da div de alinhamento de logos, titulos e subtitulos dos cards*/
.CabecalhoCard {
    margin-top: 20px;
    margin-left: 10px;
}

    .CabecalhoCard img {
        padding: 5px; /* Espaço entre a imagem e a borda branca */
        background-color: #fff; /* Fundo branco para criar a borda interna */
        width: 70px;
        height: 70px;
        border-radius: 50%; /* Arredonda a imagem */
    
        /* Borda branca */
        border: 1px solid #fff;
    
        /* Contorno gradiente */
        box-shadow: 0 0 0 1px #8A2BE2, /* Tamanho e cor do contorno externo */
                    0 0 0 1px #1E90FF; /* Cor adicional para o gradiente */
    
        /* Remove background-clip, que não é necessário neste caso */
    }
    





/*Programação da div de alinhamento de titulo e subtitulo dos cards*/
.textoC h3{
    font-size: 22px;
    margin-bottom: 0;
}

/*Programação do subtitulo*/
.textoC .subtitulo {
    color: #777;
    font-family: 'AlbertSansLight';
    font-size: 18px;
}

/*Programação da div de alinhamento da linha e dos textos dos cards*/
.CorpoCard{
    margin-top: 5px;
    width: 90%;
}

/*Programação da linha dos cards*/
.CorpoCard hr{
    border: none; /*  borda padrão */
    border-radius: 50px;
    height: 150px; 
    width: 12px; /* Define a largura da linha */
    margin-left: 20px;
    background:  #832be2;
    opacity: 0.8;
}


/*Programação do texto*/
.CorpoCard .Texto {
    text-align: justify;
    color: #333;
    line-height: 1.5;
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 20px;
    margin-left: 10px;
}

/* Programaçao da div de alinhamento dos botões */
.CardBtn{
    width: 90%;
    height: auto;
    justify-content: center;
    margin-left: 50px;
}

/*Programação do botão de anterior*/
#prevBtn { 
    margin-bottom: 150px;
    background-color: transparent;
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

/*Programação do botão de proximo*/
#nextBtn {
    margin-bottom: 150px;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}
/*FIM DA PROGRAMAÇÃO DA TELA CLIENTES*/




/*INICIO DA PROGRAMAÇÃO DA TELA DE VANTAGENS*/


/*Fim da programação da div*/

#D1, #D2, #D3, #D4 {
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

#D1, #D4 {
    height: 550px;
    width: 20rem;
}

#D2, #D3 {
    height: 260px;
    width: 100%;
    margin-top: 10px;
}


.vantagens {
    font-size: 38px;
    font-family: 'RalewayBold';
}

.vantagens1 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-family:'AlbertSans' ;
    color: #000;
    text-align: justify;
}

/* Imagens vantagens */
#img3{
    max-width: 100%;
    height: auto;
    transform: rotate(0.76deg);
    margin-top: 150px;
}

#img4 {
    max-width: 100%;
    height: auto;
    transform: rotate(8.0deg);
    margin-bottom: 5px;
}

/*FIM DA PROGRAMAÇÃO DA TELA DE VANTAGENS*/



/*INICIO DA PROGRAMAÇÃO DA TELA DA EQUIPE*/

#equipe{
    margin-top: 200px;
}

/* Estilo do título */
#textoE {
    text-align: center;
    margin-bottom: 90px;
    font-family: 'RalewayBold';
}

/* Estilo do contêiner do carrossel */
.equipe-carrossel-container {
    position: relative;
    max-width: 1000px;
    overflow-x: hidden;
    height: 430px;
    padding: 0 40px;
}

/* Estilo do carrossel */
.equipe-carrossel {
    transition: transform 0.8s ease-in-out;
}

/* Estilo dos cards da equipe */
.equipe-card {
    width: 240px;
    height: 380px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin-right: 40px;
    flex-shrink: 0;
}

.equipe-card h3{
    font-family: 'RalewayBold';
    font-size: 22px;
}

/* Estilo da imagem de perfil */
.foto {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 22px;
}

/* Estilo do subtítulo com os cargos */
.cargo {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo do botão de LinkedIn */
.btnEquipe {
    width: 103px;
    height: 37px;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(to left, #6200EA, #A452FF);
    border-radius: 60.5px;
    border: none;   
    font-family: 'RalewayExtraBold';
}

/* Estilo dos botões de navegação */
#prevBtn2, #nextBtn2 {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*FIM DA PROGRAMAÇÃO DA TELA DA EQUIPE*/

/*INICIO DA PROGRAMAÇÃO DA TELA DE ORÇAMENTO*/
/*Programação da div q contem o conteudo*/
#orçamento{
    margin-top: 9rem;
}
/*Fim da programação da div*/

/*Programação do titulo*/
#tituloOrcamento{
    font-family: 'RalewayBold';
}
/*Fim da programação do titulo*/

/*Programação da div com os contatos*/
#contato{
    align-items: flex-start;
    padding: 40px 10%;
}
/*Fim da programação da div*/

/*Programação da div com as informações da empresa*/
.info {
    flex: 1;
    width: 360px;
    height: 550px;
    margin-left: 200px;
    margin-right: 145px;
    margin-top: 30px;
}
/*Fim da programação da div*/

/*Programação da h2 da info*/
.info h2 {
    color: #5500ff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'AlbertSansBold';
}
/*Fim da programação do h2*/

/*Programação do h3 da info*/
.info h3 {
    font-family: 'AlbertSansBold';
}
/*Fim da programação do h3*/

/*Programação do p da info*/
.info p {
    font-size: 16px;
    margin-bottom: 20px;
}
/*Fim da programação do p*/

/*Programação da div com os itens (icones e textos)*/
.item {
    margin-bottom: 15px;
}
/*Fim da programação da div*/

/*Programação do container dos icones*/
.icon-container {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
/*Fim da programação do container*/

/*Programação dos icones*/
.icon {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: #5500ff;
    padding: 10px;
}
/*Fim da programação dos icones*/

/*Programação do h3 do container de textos*/
.texto-container h3 {
    margin: 0;
    font-size: 18px;
    color: #5500ff;
}
/*Fim da programação do container*/

/*Programação do p do container de textos*/
.texto-container p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
/*Fim da programação do container*/

/*Programação da linha*/
#linha3 {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
    width: 361.2px;
}
/*Fim da programação da linha*/

/*Programação da div de redes sociais*/
.redes-sociais {
    margin-top: 20px;
}
/*Fim da programação da div*/

/*Programação do p de redes sociais*/
.redes-sociais p {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'RalewayExtraBold';
}
/*Fim da programação do p*/

/*Programação da div de icones de redes sociais*/
.icons {
    display: flex;
    gap: 10px;
}
/*Fim da programação da div*/

/*Programação de icones de redes sociais*/
.social-icon {
    width: 40px;
    height: 40px;
}
/*Fim da programação da icones*/

/*Programação do icone do Linkedin*/
.social-icon-l {
    width: 63px;
    height: 63px;
    margin-bottom: 0px;
}
/*Fim da programação do icone*/

/*Programação da div que contem o formulario*/
#FormOrcamento{
    width:445px ;
    height: 654px;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
/*Fim da programação da div*/

/*Programação do titulo do formulario*/
#tituloFormOrcamento{
    margin-top: 2rem;
    font-family: 'RalewayBold';
}
/*Fim da programação do titulo*/

.Itens{
    margin-left: 20px;
}

/*Programagão da div com o input e label*/
.input-form{
    margin-top: 40px;
    flex-direction: column;
    width: 350px;
    position: relative;
}
/*Fim da programação da div*/

/*Programação da label*/
.input-form label{
    font-size: 18px;
    position: absolute;
    left: 0%;
    bottom: 5px;
    color: #4E4E4E;
    cursor: text;
    transition: 0.3s ease-in-out;
}
/*Fim da programação da label*/

/*Programação do input*/
.input-form .input{
    width: 100%;
    padding: 5px;
    color:#000 ;
    border: 0;
    border-bottom: 2px solid #4E4E4E;
    outline: 0; /*borda de fora - quando clica*/
    font-size: 18px;
}
/*Fim da programação do input*/

/* Manter a label elevada quando o input está preenchido ou focado */
.input-form .input:focus,
.input-form .input:valid {
    border-bottom: 2px solid #000000;
}

.input-form .input:focus + label,
.input-form .input:valid + label {
    transform: translateY(-24px);
    font-size: 16px;
    color: #000;
}




/*Fim da programação dos efeitos*/

/*Programação da div com o input e label da descrição*/
.input-form2{
    width: 350px;
    margin-top: 30px;
}
/*Fim da programação da div*/

/*Programação da label da descrição*/
.desc{
    margin-top: 30px;
    font-size: 18px;
    color:#4E4E4E ;
}
/*Fim da programação da label*/

/*Programação do input de descrição*/
#descricao {
    margin-top: 5px;
    border-radius: 20px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #000;
    width: 350px;
    height: 121px;
    padding: 10px;
    line-height: 1.5; 
    overflow-wrap: break-word; /* Quebra linhas de texto longo */
}

/*Fim da programação do input*/

/*Programação do botão*/
#enviar{
    width: 227px;
    height: 49px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'RalewayBold';
    background-color: #000000;
    border: solid 2px;
    border-radius: 60px;
    margin-left: 4rem;
}
/*Fim da programação do botão*/
/*FIM DA PROGRAMAÇÃO DA TELA DE ORÇAMENTO*/


/*INICIO DA PROGRAMAÇÃO DO FOOTER*/

/*Programação da div com todo o conteudo*/
.footer{
    background-color:#EEEEF5;
    height: 350px;
    border-radius: 30px;
}

/*Programação da div com as informações*/
.footer-container {
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}


/*Programação da logo*/
.footer-logo {
    height: 60px;
    margin-right: 22px;
    margin-left: 300px;
    margin-top: 58px;
}

/*Programação da linha4*/
#linha4{
    height:60px;
    margin-top: 70px;
    border: solid 1px;
}

/*Programação da div com botões de icones de redes sociai*/
.social-buttons {
    gap: 15px;
    margin-left: 22px;
    margin-right: 765px;
    margin-top: 58px;
}


/*Programação dos botões*/
.social-button {
    border: none; 
    cursor: pointer; 
}


/*Programação dos icones*/
.social-icon {
    width: 53px;
    height: 53px;
    margin-top: 5px;
}


/*Programação do icone do Linkedin*/
.linkedin{
    width: 63px;
    height: 63px;

}


/*Programação do titulo do endereço*/
#titulof{
    font-size: 18px;
    font-family: 'AlbertSansBold';
}

/*Programação do p do endereço*/
.endereco p {
    font-size: 14px;
}

/*Programação com a div do texto de baixo*/
.fim {
    margin-top: 1.5rem;
    font-size: 14px;
}

/*Programação do a do fim*/
.fim a {
    color: #333;
    text-decoration: none;
}

/*Programação do a do fim ao passar o cursor*/
.fim a:hover {
    text-decoration: underline;
}

/*Programação da linha5*/
#linha5{
    width: 20px;
    margin-left: 490px;
    border: solid 2px;
}

/*FIM DA PROGRAMAÇAO DO FOOTER*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

/*blabla ass: flaviia*/
.dropdown.show .dropdown-content {
    display: block;
}

#icone{
    background: transparent;
    border: none;
}

    